.slaider {
    background-color: rgb(27, 34, 41);
    overflow-x: hidden;
    padding-block: 80px;
    position: relative;
}

.slaider__vieport {
    overflow-x: scroll;
    display: flex;
    /* padding-inline: 600px; */
}

.slaider__vieport::-webkit-scrollbar {
    display: none;
}

.slaider__list {
    display: flex;
    align-items: center;
    column-gap: 6.25vw;
}

.slaider__item {
    width: clamp(20px, 25vw, 600px );
    display: flex;
    flex-direction: column;
    row-gap: 2.1vw;
    align-items: center;
    padding: 1.4vw;
    border: 3px solid rgb(60, 44, 104);
    border-radius: 15px;
    background-color:rgb(39, 39, 57);
    /* pointer-events: none; */
}

.slaider__item:first-child {
    margin-left: 40vw;
}

.slaider__item:last-child {
    margin-right: 40vw;
    /* background-color: red; */
}

.slaider__item img {
    width: 100%;
}

.slaider__item-title {
    color:aliceblue;
    font-size: 2.5vw;
}

.slaider__item p {
    color: aliceblue;
    font-size: 0.9vw;
}

.slaider__button {
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slaider__button:active {
    background-color: brown;
}

.slaider__button-prev {
    left: 5px;
}

.slaider__button-next {
    right: 5px;
}

/* .test {
    height: 6000px;
} */